<h1>
  <%= @category.name %>
</h1>

<hr>

<h2>
  Ancestors
</h2>
<% @category.ancestors.each do |category| %>
  <%= link_to category.name, category_path(category) %> <
<% end %>
<strong><%= @category.name %></strong>

<h2>
  Children
</h2>
<%= arranged_tree_as_list(@category.children.arrange) do |category| %>
  <%= link_to category.name, category_path(category) %>
<% end %>


<h2>
  Siblings
</h2>
<%= arranged_tree_as_list(@category.siblings.arrange) do |category| %>
  <%= link_to category.name, category_path(category) %>
<% end %>